<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>路线详情</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/route-detail.css">

</head>

<body>
<!--引入头部-->
<div id="header"></div>
    <!-- 详情 start -->   
    <div class="wrap">
        <div class="bread_box">
            <a href="/">首页</a>
            <span> &gt;</span>
            <a href="#">考研数学</a><span> &gt;</span>
            <a href="#">研行天下 精品考研课</a>
        </div>
        <div class="prosum_box">
            <dl class="prosum_left">
                <dt>
                    <img alt="" class="big_img" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=216072365,2541129758&fm=26&gp=0.jpg">
                </dt>
                <dd id="dd">
                    <a class="up_img up_img_disable"></a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m40920d0669855e745d97f9ad1df966ebb.jpg">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606235500892&di=c367da7f0a16b3dbcf22454fa93f6783&imgtype=0&src=http%3A%2F%2Fimg002.hc360.cn%2Fg2%2FM02%2F75%2FDE%2FwKhQulKwD4KENeUfAAAAADNYTqM853.jpg..400x400.jpg">
                    </a>
                    <a title="" class="little_img cur_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m49788843d72171643297ccc033d9288ee.jpg">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606235500891&di=62ec7f3bdbdee71d3f96b9d409a924cc&imgtype=0&src=http%3A%2F%2Fimg05.huishangbao.com%2Ffile%2Fupload%2F201211%2F27%2F18%2F18%2F44-46-49-2400.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4531a8dbceefa2c44e6d0e35627cd2689.jpg">
                        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3728232478,461089690&fm=26&gp=0.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m46d8cb900e9f6c0a762aca19eae40c00c.jpg">
                        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3072885552,3755498784&fm=26&gp=0.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m45ea00f6eba562a767b5095bbf8cffe07.jpg" style="display:none;">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606235500890&di=0e22cf85e95bbdfdc8d8f21f50a26a1d&imgtype=0&src=http%3A%2F%2Fimg007.hc360.cn%2Fm7%2FM0B%2F75%2F58%2FwKhQo1Z1FbGESP-cAAAAALsxvBI138.gif">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4265ec488cd1bc7ce749bc8c9b34b87bc.jpg" style="display:none;">
                        <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2510257317,2480365524&fm=26&gp=0.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4e7e964909d7dd1a9f6e5494d4dc0c847.jpg" style="display:none;">
                        <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2482015954,1151334745&fm=26&gp=0.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m467db00e1b76718fab0fe8b96e10f4d35.jpg" style="display:none;">
                        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3479554793,2471946476&fm=26&gp=0.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m487bbbc6e43eba6aa6a36cc1a182f7a20.jpg" style="display:none;">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606235628790&di=77c0fb8fd275e2b91a54556edb8db019&imgtype=0&src=http%3A%2F%2Fcbu01.alicdn.com%2Fimg%2Fibank%2F2016%2F544%2F531%2F3010135445_59055232.jpg">
                    </a>
                    <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
                </dd>
            </dl>
            <div class="prosum_right">
               <p class="pros_title" id="rname">研行天下</p>
                <p class="hot" id="routeIntroduce">1-2月出发，网付立享￥1099/2人起！爆款位置有限，抢完即止！</p>
                <div class="pros_other">
                    <p>经营商家  ：<span id="sname">孙伟杰</span></p>
                    <p>咨询电话 : <span id="consphone">123456789</span></p>
                    <p>地址 ： <span id="address">郑航</span></p>
                </div>
                <div class="pros_price">
                    <p class="price"><strong id="price">¥2699.00</strong><span>起</span></p>
                    <p class="collect">
                        <a class="btn" onclick="addFavorite();"  id = "favorite"><i class="glyphicon glyphicon-heart-empty"></i>点击收藏</a>

<!--                        <a  class="btn already" disabled="disabled"><i class="glyphicon glyphicon-heart-empty"></i>点击收藏</a>-->
                        <span id="favoriteCount">已收藏100次</span>
                    </p>
                </div>        
            </div>
        </div>
        <div class="you_need_konw">
            <span>考研须知</span>
            <div class="notice">
                <p>1、考研科目 。共四门：2门公共课 一门基础课 一门专业课。两门公共课:政治、英语
                    　　一门基础课:数学或专业基础
                    　　一门专业课（分为12大类）：哲学、经济学、法学、教育学、文学、历史学、理学、 工学、农学、医学、军事学、管理学等
                    　　其中：法硕、西医综合、教育学、历史学、心理学、计算机、农学等 属统考专业课； 其他非统考专业课都是各高校自主命题 <br>
                <p>2、考研分数（总分500分）政治：100分

                　　英语：100分

                　　数学或专业基础：150分

                　　专业课：150分</p>

                <p>3、试卷结构：政治：（马原22分，毛特30分，史纲14分，思修/法律基础18分，中国、美国等世界当 代与时政16分）

                    　　英语：（完型10分，阅读A 40分，阅读 B 10分，翻译10分，大作文20分，小作文10分 ）

                    　　数学：理工类（数一、数二） 经济类（数三）

                    　　数一：高数56%、线性代数22%、概率统计22%

                    　　数二：高数78%、线性代数22%、概率统计不考

                    　　数三：高数56%、线性代数22%、概率统计22%</p>



            </div>
        </div>
    </div>
    <!-- 详情 end -->

    <!--引入头部-->
    <div id="footer"></div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
<!--    <script type="text/javascript" src="../js/include.js"></script>-->
    <script src="../js/getParameter.js"></script>
    <script>
    $(document).ready(function() {
        $("#header").load("/user/header");
        $("#footer").load("/user/footer");
        goImg();
    });
    function goImg() {
//焦点图效果
        //点击图片切换图片
        $('.little_img').on('mousemove', function() {
            $('.little_img').removeClass('cur_img');
            var big_pic = $(this).data('bigpic');
            $('.big_img').attr('src', "../"+big_pic);
            $(this).addClass('cur_img');
        });
        //上下切换
        var picindex = 0;
        var nextindex = 4;
        $('.down_img').on('click',function(){
            var num = $('.little_img').length;
            if((nextindex + 1) <= num){
                $('.little_img:eq('+picindex+')').hide();
                $('.little_img:eq('+nextindex+')').show();
                picindex = picindex + 1;
                nextindex = nextindex + 1;
            }
        });
        $('.up_img').on('click',function(){
            var num = $('.little_img').length;
            if(picindex > 0){
                $('.little_img:eq('+(nextindex-1)+')').hide();
                $('.little_img:eq('+(picindex-1)+')').show();
                picindex = picindex - 1;
                nextindex = nextindex - 1;
            }
        });
        //自动播放
        // var timer = setInterval("auto_play()", 5000);
    }
    //自动轮播方法
    function auto_play() {
        var cur_index = $('.prosum_left dd').find('a.cur_img').index();
        cur_index = cur_index - 1;
        var num = $('.little_img').length;
        var max_index = 3;
        if ((num - 1) < 3) {
            max_index = num - 1;
        }
        if (cur_index < max_index) {
            var next_index = cur_index + 1;
            var big_pic = $('.little_img:eq(' + next_index + ')').data('bigpic');
            $('.little_img').removeClass('cur_img');
            $('.little_img:eq(' + next_index + ')').addClass('cur_img');
            $('.big_img').attr('src', "../"+big_pic);
        } else {
            var big_pic = $('.little_img:eq(0)').data('bigpic');
            $('.little_img').removeClass('cur_img');
            $('.little_img:eq(0)').addClass('cur_img');
            $('.big_img').attr('src', "../"+big_pic);
        }
    }
    $(function () {
        /*
        *       <dd>
                    <a class="up_img up_img_disable"></a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m40920d0669855e745d97f9ad1df966ebb.jpg">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m20920d0669855e745d97f9ad1df966ebb.jpg">
                    </a>
                    <a title="" class="little_img cur_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m49788843d72171643297ccc033d9288ee.jpg">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m29788843d72171643297ccc033d9288ee.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4531a8dbceefa2c44e6d0e35627cd2689.jpg">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m2531a8dbceefa2c44e6d0e35627cd2689.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m46d8cb900e9f6c0a762aca19eae40c00c.jpg">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m26d8cb900e9f6c0a762aca19eae40c00c.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m45ea00f6eba562a767b5095bbf8cffe07.jpg" style="display:none;">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m25ea00f6eba562a767b5095bbf8cffe07.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4265ec488cd1bc7ce749bc8c9b34b87bc.jpg" style="display:none;">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m2265ec488cd1bc7ce749bc8c9b34b87bc.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m4e7e964909d7dd1a9f6e5494d4dc0c847.jpg" style="display:none;">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m2e7e964909d7dd1a9f6e5494d4dc0c847.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m467db00e1b76718fab0fe8b96e10f4d35.jpg" style="display:none;">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m267db00e1b76718fab0fe8b96e10f4d35.jpg">
                    </a>
                    <a title="" class="little_img" data-bigpic="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m487bbbc6e43eba6aa6a36cc1a182f7a20.jpg" style="display:none;">
                        <img src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size2/201703/m287bbbc6e43eba6aa6a36cc1a182f7a20.jpg">
                    </a>
                    <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
                </dd>
        * */
        var rid  = getParameter("rid");
        $.get("/category/findOne",{rid:rid},function (route) {
            $("#favoriteCount").html("已收藏"+route.count+"次");
            $("#rname").html(route.rname);
            $("#routeIntroduce").html(route.routeIntroduce);
            $("#price").html("￥"+route.price);
            $("#sname").html(route.seller.rname);
            $("#consphone").html(route.seller.consphone);
            $("#address").html(route.seller.address);
            var ddstr = '<a class="up_img up_img_disable"></a>';
            for (var i = 0; i <route.routeImgList.length ; i++) {
                    if(i >= 4){
                        var astr = '<a title="" class="little_img" style="display:none;"  data-bigpic="'+route.routeImgList[i].bigPic+'" >\n' +
                            '             <img src="'+'../'+route.routeImgList[i].smallPic+'">\n' +
                            '       </a>';
                    }else {
                        var astr = '<a title="" class="little_img" data-bigpic="'+route.routeImgList[i].bigPic+'" >\n' +
                            '             <img src="'+'../'+route.routeImgList[i].smallPic+'">\n' +
                            '       </a>';
                    }

                    ddstr += astr;
            }
            ddstr += '<a class="down_img down_img_disable" style="margin-bottom: 0;"></a>';
            $("#dd").html(ddstr);
            goImg();
        })
    });
        $(function () {
            var rid =  getParameter("rid");
           $.get("/category/isFavorite",{rid:rid},function (flag) {
                if(flag){
                    $("#favorite").addClass("already");
                    $("#favorite").attr("disabled","disabled");
                    $("#favorite").removeAttr("onclick");
                }else {

                }
           })
        });
        function addFavorite() {
            var rid = getParameter("rid");
            $.get("/user/findOne",{},function (user) {
                if(user){
                    $.get("/category/addFavorite",{rid:rid},function () {

                    })
                }else {
                    alert("尚未登录")
                    location.href = "/user/log";
                }
            })
        }
    </script>
</body>

</html>